@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
    background-color:white;
    color: #333;
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    flex-direction: column; 
    justify-content: space-between;
    height: 100vh;
  }
  
  h1 {
    color: #333;
    font-size: 2rem;
    text-align: center;
  }

  .view-toggle {
    align-self: center;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .upload-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .upload-sections > div {
    width: 50vh;
  }
  
  .file-upload-section, .product-enter-section {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .file-upload-container {
    margin: 10px auto;
    margin-top: 10px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f7f7f7;
    width: min-content;
    height: min-content;
    text-align: center;
  }

  .product-enter-container {
    margin: 10px auto;
    margin-top: 10px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f7f7f7;
    width: min-content;
    text-align: center;
  }

  #file-upload {
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  button {
    cursor: pointer;
    background-color:#ccc;
    color:#333;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button:hover {
    background-color:#a9a9a9;
  }

  button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    border: 1px solid #ccc;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-title {
    align-self: center;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .products-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    width: 90%;
}

  .product-card {
    background-color:aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1 1 250px;
    height: 250px;
  }  
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color:#e0f7fa;
  }
  
  .product-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    height: 15%;
    margin-bottom: 8px;
    flex-grow: 0;
  }
  
  .product-name {
    color: #777;
    font-size: 1rem;
    margin-top: 10px;
    flex-grow: 0;
  }
  
  .product-price {
    color: #007bff;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    flex-grow: 0;
  }
  
  .product-link {
    display: inline-block;
    margin-top: 15px;
    color: #4f46e5;
    font-weight: 600;
    text-decoration: none;
    flex-grow: 0;
  }
  
  .product-link:hover {
    text-decoration: underline;
  }
  